*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  body {
      background-color: #f0efeb
  }

  nav {
    position: sticky;
    top: 0;
    background-color: #f0efeb;
  }

  .create-note {
    display: flex;
    border: none;
    line-height: 2.5;
    padding: 0 250px;
    justify-content: center;
    margin: 5px;
    list-style-type: none;
  }
  
  .sidebar {
    display: flex;
    list-style-type: none;
  }

  .about_doc ul, li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
  }

  a {
    text-decoration: none;
  }

  footer {
    list-style-type: none;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;    
  }

  .text-box {
    display: flex;
    justify-content: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .side_box {
    display: flex;
  }

  .side_menu, li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
  }